<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tbocek.dungeonsketch">


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:allowBackup="true"
        android:name="com.tbocek.android.combatmap.DungeonSketchApp"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="com.tbocek.android.combatmap.CombatMap"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.Settings"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.Load"
            android:label="Load" >
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.about.ArtCredits"
            android:label="Art Credits" >
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.tokenmanager.TokenCreator"
            android:hardwareAccelerated="false"
            android:label="Token Creator" >
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.tokenmanager.TokenManager"
            android:label="Token Manager" >
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.ImportDataDialog"
            android:label="Token Manager"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.tokenmanager.NewTagDialog"
            android:label="New Tag"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
        <activity
            android:name="com.tbocek.android.combatmap.tokenmanager.EditTagDialog"
            android:label="Edit Tag"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
        <service
            android:name="com.tbocek.android.combatmap.SaverService">
        </service>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>


</manifest>